<div class="row">
  <div class="col-xs-12 text-center">
    <h1><%= @artist.name %>'s Albums</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Album Name</th>
          <th>Year</th>
          <th colspan="2">
            Actions
          </th>
          <th>
            <%= link_to 'New album', new_album_path(@artist.id, current_user), class: 'btn btn-success', style: 'margin-left: 50px'  %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @albums.empty? %>
          <tr>
            <td colspan="5" class="text-center">
              <h3>No albums to show.</h3>
              <%= link_to 'Click here', new_album_path(@artist.id, current_user) %> to register a new album
            </td>
          </tr>
        <% else %>
          <% @albums.each do |c| %>
            <tr>
              <td style="padding-top: 15px;">
                <%= c.album_name %>
              </td>
              <td style="padding-top: 15px;">
                <%= c.year %>
              </td>
              <td>
                <%= link_to 'Edit', edit_album_path(c, current_user), class: 'btn btn-warning' %>
              </td>
              <td>
                <% if @current_user.role == 2 %>
                <%= link_to 'Delete', confirm_delete_path(@artist.id, c.id, current_user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>